
body {

     background-color: rgb(180, 180, 180);
    padding-top: 24px;
    margin-right: auto;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 15px;

}

img{

    width:250px;
    height:250px;
    border-radius:1px; 
    float: left;
    padding-right: 20px
}

h1{
    text-align: left;
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: hsl(0, 0%, 47%);
    background-color: hsl(0, 100%, 90%);

}



.borderClass {
    margin: 0%;
    padding: 2%;
    border: 5px;
    outline: 2%;
    font-size: 100%; 
    font-style: Sans-serif;
    float: right;
    width: 400px;
    
}



.center {
    margin: left;
    margin-right: 0;
    width: 30%;
    border: 1px solid ;
    padding: 10px;
    padding-left: 30px;
    display: inline-block;

}

.edge {

    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px; 
    width: 100px;
    height: 100px; 

}

footer {
   


}

@media screen and (max-width: 168px)

